---

---

<div class="container mx-auto mt-10 md:mt-20">
  <h2 class="font-bold text-center text-xl sm:text-3xl mb-8 md:mb-14">Особенности обучения</h2>
  <div
    class="auto-rows-auto auto-cols-auto grid gap-5 px-5 sm:px-0 lg:gap-7 xl:gap-10 grid-cols-1 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1"
  >
    <div class="bg-sky-500 text-white rounded-3xl px-7 p-7 sm:p-12">
      <div
        class="w-10 h-10 rounded-full bg-white text-black font-bold flex justify-center items-center mb-6"
      >
        1
      </div>
      <h3 class="text-xl sm:text-2xl mb-6 font-extrabold max-w-[260px]">
        Обучение чтению Корана по Мединскому шрифту
      </h3>
      <p class="text-sm sm:text-base">
        Вам не придется переучиваться, так как большинство книг для обучения, написаны для
        Казанского издания
      </p>
    </div>
    <div class="bg-sky-500 text-white rounded-3xl px-7 p-7 sm:p-12">
      <div
        class="w-10 h-10 rounded-full bg-white text-black font-bold flex justify-center items-center mb-6"
      >
        2
      </div>
      <h3 class="text-xl sm:text-2xl mb-6 font-extrabold max-w-[260px]">
        Обучение чтению Корана по Мединскому шрифту
      </h3>
      <p class="text-sm sm:text-base">
        Вам не придется переучиваться, так как большинство книг для обучения, написаны для
        Казанского издания
      </p>
    </div>
    <div class="bg-sky-500 text-white rounded-3xl px-7 p-7 sm:p-12">
      <div
        class="w-10 h-10 rounded-full bg-white text-black font-bold flex justify-center items-center mb-6"
      >
        3
      </div>
      <h3 class="text-xl sm:text-2xl mb-6 font-extrabold max-w-[260px]">
        Обучение чтению Корана по Мединскому шрифту
      </h3>
      <p class="text-sm sm:text-base">
        Вам не придется переучиваться, так как большинство книг для обучения, написаны для
        Казанского издания
      </p>
    </div>
  </div>
</div>
