---
import { Image } from 'astro:assets';
import heroImage from '@assets/images/hero.png';
---

<section
  class="md:h-128 pt-20 pb-10 md:pt-0 md:pb-0 px-5 sm:px-0 md:0 flex md:items-center bg-white dark:bg-neutral-800"
>
  <div class="flex flex-col md:items-center container mx-auto md:flex-row">
    <div class="flex-1">
      <div class="max-w-2xl">
        <h1 class="text-4xl max-w-md md:max-w-none md:text-5xl lg:text-7xl font-bold mb-4 md:mb-8">
          Обучитесь чтению <span class="text-sky-400">Корана</span> за 14 дней
        </h1>
        <div class="text-base md:text-xl max-w-xl">
          Программа обучения написана таким образом, чтобы вы могли обучиться полноценному чтению за
          14 уроков
        </div>
      </div>
    </div>
    <div class="right -order-1">
      <Image src={heroImage} width="520" class="max-w-sm md:max-w-full" height="470" alt="" />
    </div>
  </div>
</section>
